---
layout: default
title: מי יגן על הנתונים שלך בכנסת ה-20?
---
<div class="sr-only"><a href="#content">Skip to content</a></div>

<div class="container" id="content">
    <div class="row">
        <div class="col-sm-7 col-xs-offset-1">
            <div class="page-title title-md">
                <h1>בחירות<br>2015</h1>
            </div>
        </div>
        <div class="col-sm-3">
            <div style="padding: 0.5em"  class="text-left title-xs">
                <a href="http://www.no2bio.org">
                    <img src="img/logo.png" alt="no2bio logo">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-xs-offset-1">
            <div class="explanation">
                {% include short-explanation.md %}
            </div>
        </div>
        <div class="col-sm-3 text-left">
            <h3 style="margin:0;" class="clear-fix">חצי שנה לסוף הניסוי<br>עכשיו הזמן להשפיע</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="margin-top:1em;">
                {% include share.html link='http://elections2015.no2bio.org' title='מי יגן על הנתונים שלך בבחירות 2015' hashtag="#no2bio" %}
            </div>
            <div class="centered">
                <ul class="legend">
                    <li class="legend-yes">
                      {% include icon-yes.html %}
                      יגנו על הנתונים שלך</li>
                    <li class="legend-no">
                      {% include icon-no.html %}
                      יפקירו את הנתונים שלך</li>
                    <li class="legend-pending">
                      {% include icon-pending.html %}
                      לא מבטיחים כלום</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="party-board">
                {% for party in site.data.parties %}
                    <li class="board board-{{party.status}}">
                        <a href="parties/{{party.alias}}.html">
                            <img class="party-logo" width="160" height="160" src="{{ '/img/parties/' | append:party.alias | append:'/' | append: party.alias | append:'-bw.png' | prepend:site.baseurl }}">
                            {% include icon-{{party.status}}.html %}
                            {{party.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
