---
layout: default
title: מי יגן על הנתונים שלך בכנסת ה-20?
---
<div class="sr-only"><a href="#content">Skip to content</a></div>

<div class="container" id="content">
    <div class="row">
        <div class="col-md-6">
            <div class="page-title">
                <h1>בחירות<br>2015</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div style="padding: 0.5em"  class="to-left">
                <a href="http://www.no2bio.org">
                    <img src="img/logo.png" alt="no2bio logo">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="explanation">
                {% include short-explanation.md %}
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="to-left" style="margin:0;">חצי שנה לסוף הניסוי<br>עכשיו הזמן להשפיע</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="width: 100px; margin: auto; text-align: center; margin-top: 1em;">
                <div class="share-button"></div>
            </div>
            <div class="centered" style="margin-top: 0.7em;">
                <ul class="legend">
                    <li class="legend-yes">יגנו על הנתונים שלך</li>
                    <li class="legend-no">יפקירו את הנתונים שלך</li>
                    <li class="legend-pending">לא מבטיחים כלום</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="party-board">
                {% for party in site.data.parties %}
                    <li class="board board-{{party.status}}">
                        <a href="parties/{{party.alias}}.html">
                            <img class="party-logo" width="160" height="160" src="{{ '/img/parties/' | append:party.alias | append:'/' | append: party.alias | append:'-bw.png' | prepend:site.baseurl }}">
                            {{party.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    new Share(".share-button", {
      url: "http://elections2015.no2bio.org",
      title: "מי יגן על הנתונים שלך אחרי בחירות 2015?",
      description: "סקר המפלגות של no2bio.org",
      ui: {
        button_text:" לשתף",
        flyout: "top center"
      },
      networks: {
        twitter: {
          description: "מי יגן על הנתונים שלך אחרי בחירות 2015? via @no2bio"
        }
      }
    });
  });
</script>