{% capture picUrl %}http://elections2015.no2bio.org/img/logo-fb-share.png{% endcapture %}
<ul class="mbs-share">
  <li>
    <a href="mailto:?subject={{ include.title | uri_encode }}&body=http://elections2015.no2bio.org"><i class="fa fa-envelope fa-2x"></i></a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url={{ include.link }}" target="_blank">
      <i class="fa fa-google-plus-square fa-2x"></i></a>
  </li>
  <li>
    {% capture twitterText %}{{include.title}} {{ include.hashtag }}{% endcapture %}
    <a href="https://twitter.com/intent/tweet?url={{ include.link | cgi_escape }}&via=no2bio&text={{ twitterText | cgi_escape }}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
  </li>
  <li>
    <a href="https://www.facebook.com/dialog/feed?app_id={{ site.fbId }}&display=popup&caption={{ include.title | cgi_escape }}&link={{ include.link | cgi_escape }}&picture={{picUrl | cgi_escape}}&redirect_uri={{ include.link }}" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
  </li>
</ul>