---
layout: default
title: test
---
{% assign partyAlias = page.url | split:'/' | last | split :'.' | first %}
{% for p in site.data.parties %}
  {% if p.alias == partyAlias %}
    {% assign party=p %}
  {% endif %}
{% endfor %}

{% capture rawStatusMessage %}
  {% case party.status %} 
    {% when "yes" %}
      יגנו על הנתונים שלך
    {% when "no" %}
      יפקירו את הנתונים שלך
    {% else %}
      לא מבטיחים כלום
  {% endcase %}
{% endcapture %}
{% assign statusMessage= rawStatusMessage | strip_newlines | replace:'  ','' %}
<a class="sr-only" href="#content">skip to content</a>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br> 
      <a href="{{"/" | prepend: site.baseurl}}">
        <i class="fa fa-arrow-right"></i>
        חזרה לכל המפלגות
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
        <div class="title-party-logo" >
            <img alt="{{ party.name }} logo" 
             src="{{ '/img/parties/' | append:party.alias | append:'/' | append:party.alias | append:'.png' | prepend:site.baseurl }}" />
        </div>
    </div>
    <div class="col-sm-8">
      <div class="page-title">
        <h1>{{ party.name }}</h1>
        <span class="partyStatusMessage partyStatusMessage-{{ party.status }}">
          {% include icon-{{party.status}}.html %}
          {{ statusMessage }}
        </span>
      </div>
      {% capture fbStatus %}{% include fb-party-{{party.status}}.txt username=party.name %}{% if party.fbmention %} {{ party.fbmention }}{% endif %}{% endcapture %}
      {% capture picUrl %}http://elections2015.no2bio.org/img/logo-fb-share.png{% endcapture %}
      {% if party.meme %}
        {% capture twitterStatus %}{% include twitter-meme-party.txt username=party.twitter meme=party.meme %}{% endcapture %}
      {% else %}
        {% capture twitterStatus %}{% include twitter-party-{{party.status}}.txt username=party.twitter %}{% endcapture %}
      {% endif %}
      {% case party.status %} 
        {% when "yes" %}
          <h4>אפשר לפרגן להם</h4>
          {% if party.facebook %}
            <!-- a href="https://www.facebook.com/dialog/feed?app_id={{ site.fbId }}&display=popup&caption={{ fbStatus | strip_newlines | cgi_escape }}&link=http%3A%2F%2Felections2015.no2bio.org%2Fparties%2F{{party.alias}}.html&redirect_uri=http://elections2015.no2bio.org/parties/{{ party.alias }}.html&picture={{picUrl | cgi_escape}}"
                target="_blank" -->
            <a href="{{ party.facebook }}" target="_blank">
              <i class="fa fa-facebook-square fa-3x"></i>
            </a>
          {% endif %}
          {% if party.twitter %}
            <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Felections2015.no2bio.org%2Fparties%2F{{party.alias}}.html&via=no2bio&text={{ twitterStatus | strip_newlines | cgi_escape }}" target="_blank">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
          {% endif %}
          {% if party.web %}
            <a href="{{party.web}}" target="_blank">
              <i class="fa fa-globe fa-3x"></i>
            </a>
          {% endif %}

        {% when "no" %}
          <h4>ספרו להם למה הם טועים</h4>
          {% if party.facebook %}
            <!-- a href="https://www.facebook.com/dialog/feed?app_id={{ site.fbId }}&display=popup&caption={{ fbStatus | strip_newlines | cgi_escape }}&link=http%3A%2F%2Felections2015.no2bio.org%2Fparties%2F{{party.alias}}.html&redirect_uri=http://elections2015.no2bio.org/parties/{{ party.alias }}.html&picture={{picUrl | cgi_escape}}"
                target="_blank" -->
            <a href="{{ party.facebook }}" target="_blank">
              <i class="fa fa-facebook-square fa-3x"></i>
            </a>
          {% endif %}
          {% if party.twitter %}
            <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Felections2015.no2bio.org%2Fparties%2F{{party.alias}}.html&via=no2bio&text={{ twitterStatus | strip_newlines | cgi_escape }}" target="_blank">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
          {% endif %}
          {% if party.web %}
            <a href="{{party.web}}" target="_blank">
              <i class="fa fa-globe fa-3x"></i>
            </a>
          {% endif %}
        {% else %}
          <h4>עיזרו לנו לשכנע אותם להחליט נכון</h4>
          {% if party.facebook %}
            <!-- a href="https://www.facebook.com/dialog/feed?app_id={{ site.fbId }}&display=popup&caption={{ fbStatus | strip_newlines | cgi_escape }}&link=http%3A%2F%2Felections2015.no2bio.org%2Fparties%2F{{party.alias}}.html&redirect_uri=http://elections2015.no2bio.org/parties/{{ party.alias }}.html&picture={{picUrl | cgi_escape}}"
                target="_blank" -->
              <a href="{{ party.facebook }}" target="_blank">
              <i class="fa fa-facebook-square fa-3x"></i>
            </a>
          {% endif %}
          {% if party.twitter %}
            <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Felections2015.no2bio.org%2Fparties%2F{{party.alias}}.html&via=no2bio&text={{ twitterStatus | strip_newlines | cgi_escape }}" target="_blank">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
          {% endif %}
          {% if party.web %}
            <a href="{{party.web}}" target="_blank">
              <i class="fa fa-globe fa-3x"></i>
            </a>
          {% endif %}
      {% endcase %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="centered">
        <div style="margin-top:1em;">
            {% capture pageFullUrl %}{{ site.url }}{{page.url}}{% endcapture %}
            {% capture shareTxt %}איך {{ party.name }} תגן על הנתונים שלך אחרי בחירות 2015? {% endcapture %}
            {% include share.html link=pageFullUrl title=shareTxt hashtag="#no2bio" %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <ul class="legend centered">
        <li class="legend-yes">
          {% include icon-yes.html %}
          יגנו על הנתונים שלך</li>
        <li class="legend-no">
          {% include icon-no.html %}
          יפקירו את הנתונים שלך</li>
        <li class="legend-pending">
          {% include icon-pending.html %}
          לא מבטיחים כלום</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="mk-list">
      {% assign mks = site.data.mks | where:"party",partyAlias %}
      {% for mk in mks %}
          {% assign mkStatus = mk.status | remove:' '%}
          {% if mkStatus == '' %} {% assign mkStatus = 'pending' %} {% endif %}
          {% capture mkPhoto %}/img/mks/{{mk.alias}}.jpg{% endcapture %}

          <li class="li-{{mkStatus}}">
            <img class="mk-image" src="{{ mkPhoto | prepend: site.baseurl }}" alt="{{ mk.name}}" />
            <div class="mk-name">
              {% include icon-{{mk.status}}.html %}
              {{mk.name}}
            </div>
            <div class="contacts">
              {% if mk.email %}
                {% capture emailFileName %}email-{{mkStatus}}-{{mk.gender}}.txt{% endcapture %}
                {% capture emailBody %}{% include {{emailFileName}} name=mk.name %}{% endcapture %}
                {% capture emailTitle %}{% include email-title.txt %}{% endcapture %}
                <a href="{{ site.baseurl }}/email/{{mk.alias}}.html" target="_blank">
                <!-- <a href="mailto:{{mk.email}}?subject==?utf-8?Q?hello?=&body={{ emailBody | uri_escape }}"> -->
                  <i class="fa fa-envelope-o"></i></a>
              {% endif %}
              {% if mk.twitter %}
                {% if mk.meme %}
                  {% capture twitterInclude%}twitter-meme-{{mk.gender}}.txt{% endcapture %}
                  {% capture twitterStatus %}{% include {{twitterInclude}} username=mk.twitter meme=mk.meme %}{% endcapture %}
                {% else %}
                  {% capture twitterInclude%}twitter-mk-{{mkStatus}}-{{mk.gender}}.txt{% endcapture %}
                  {% capture twitterStatus %}{% include {{twitterInclude}} username=mk.twitter %}{% endcapture %}
                {% endif %}
                <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Felections2015.no2bio.org%2Fparties%2F{{party.alias}}&via=no2bio&text={{ twitterStatus | strip_newlines | cgi_escape }}" target="_blank">
                <i class="fa fa-twitter"></i></a>
              {% endif %}
              {% if mk.facebook %}
                {% capture fbFileName %}fb-mk-{{mkStatus}}-{{mk.gender}}.txt{% endcapture %}
                {% capture fbStatus %}{% include {{fbFileName}} username=mk.name %}{% if mk.fbmention %} {{ mk.fbmention }}{% endif %}{% if party.fbmention %} {{ party.fbmention }}{% endif %}{% endcapture %}
                <a href="{{mk.facebook}}" target="_blank">
                  <i class="fa fa-facebook"></i></a>
              {% endif %}
              {% if mk.web %}<a href="{{mk.web}}"><i class="fa fa-globe"></i></a>{% endif %}
              <br />
            </div>
          </li>
      {% endfor %}
      </ul>
      {% if party.remarks %}
      <small>{{ party.remarks }}</small>
      {% endif %}
    </div>
    {% capture wordCount %}{{ content | number_of_words }}{% endcapture %}
    {% if wordCount != "0" %}
      <div class="row">
        <div class="col-sm-12">
          <h4>סימוכין</h4>
          <div class="citations">
            {{ content }}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <div class="centered">
          <a href="{{"/" | prepend: site.baseurl}}">
            <i class="fa fa-arrow-right"></i>
            חזרה לכל המפלגות
          </a>
        </div>      
      </div>
    </div>
  </div>
</div>
